doctype html
html
  head
    title Artsy GitHub Repos
    link( type='text/css', rel='stylesheet', href=('/assets/all' + sd.CSS_EXT) )
  body
    block body
    #scripts
      != sharify.script()
      script( src='/assets/all' + sd.JS_EXT )